<div class="container">
  <h1>Services</h1>
  <div class="new-service-div">
    <%= link_to t('.new_service'), new_service_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
      <% @services.each do |service| %>
        <%= render partial: 'components/service_card_admin', locals: { service: service } %>
      <% end %>
  </div>
</div>

