<div class="card-service">
  <div class="card-header">
    <%= service.name %>
  </div>
  <div class="card-content">
    <p> Horaires d’ouverture: <%= service.hour %></p>
    <p>Tel: <%= service.phone %></p>
    <p>Address: <%= service.address %></p>
  </div>
</div>
