.service-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 5px;
  margin: auto;
  max-width: 650px;
}

.nested-form-for-activities {
  background-color: aliceblue;
  padding: 25px;
  margin-bottom: 15px;
  h4 {
    margin-top: 0px;
  }
}
