
#map {
  height: 200px;
  flex: 0 0 500px;
  position: sticky !important;
  top: 0px !important;
}
// Specific CSS for your home-page

h1, p {
	text-align: center;
	color: blue;
}

h1 {
	font-size: 70px;
}
