body {
  background-color: white;
}

h1, p {
  text-align: center;
  color: blue;
}

h1 {
  font-size: 70px;
}

ul {
  list-style-type: none;
}

.container {
  align-items: stretch;
  width: 90%;
}

#map {
  height: 500px;
  flex: 0 0 500px;
  position: sticky !important;
  top: 0px !important;
}
