
#map {
  height: 200px;
  flex: 0 0 500px;
  position: sticky !important;
  top: 0px !important;

// Specific CSS for your home-page
body {
	background-image: url(https://avatars2.githubusercontent.com/u/35672495?s=400&v=4);
	background-size: 100vh;
	background-size: 50vw;
	background-repeat: repeat-x;
}

h1, p {
	text-align: center;
	color: white;
}

h1 {
	font-size: 70px;
}
